<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://sngeth.disqus.com https://c.disquscdn.com https://disqus.com 'unsafe-inline'; style-src 'self' https://c.disquscdn.com 'unsafe-inline'; frame-src https://disqus.com; connect-src https://disqus.com;">

  {% include head.html %}

  <body class="theme-base-0c">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }} 
      </div>
    </div>
    <script id="dsq-count-scr" src="//sngeth.disqus.com/count.js"
      async></script>
  </body>
</html>
